/*
#725752 - Liver
#878E88 - Battleship Gray
#96C0B7 - Cambridge Blue
#D4DFC7 - Beige
#FEF6C9 - Lemon chiffon
*/


body{
    background-color: #D4DFC7;
}

header{
    background-color: #878E88;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 50px;
}

.headtxt{
    font-size: 50px;
}

nav{
    background-color: #96C0B7;
    color: #fff;
    text-align: center;
    position: sticky;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #725752;
    color: white;
}

main{
    padding: 10px;
}

h2{
    display: flex;
    margin-left: 50px;
}

p{
    position: relative;
    margin-left: 50px;
}

.card {
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
    background: linear-gradient(to bottom,#fff,#E3FBDB);
}

.card::after{
    width: 100%;
    height: 100%;
}

.inf{
    margin-top: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: 750px;
    margin-left: 20px;
}

.inf50{
    height: 100%;
    background-color: #96C0B7;
    width: 50%;
}

.inf20{
    height: 100%;
    background-color: #96C0B7;
    width: 20%;
}

.inf30{
    height: 100%;
    background-color: #96C0B7;
    width: 30%;
}

.inf100{
    height: 100%;
    background-color: #96C0B7;
    width: 100%;
}

.headpho{
    width: 20%;
    margin-right: 30px;
    float: left;
}

.slo{
    font-family: 標楷體;
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.hkpho{
    position: relative;
    display: flex;
    margin: 20px;
}

.hkphole{
    position: relative;
    display: flex;
    margin: 20px;
    float: right;
}

.ig{
    width: 100px;
    border-radius: 50%;
}

.con{
    justify-content: space-around;
    display: flex;
    align-items: center;
}

footer {
    background-color: #96C0B7;
    color: #444444;
    text-align: center;
    padding: 10px;
}
